.body {
  width: 100%;
}
.pages {
  text-align: center;
}

.page {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.doublePageContainer {
  display: inline-block;
  width: 40%;
}

.singlePageContainer {
  display: inline-block;
  width: 80%;
}
